*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Inicio do header */
header {
    background-color: #3F4F8A;
    height: 100px;
}

header img {
    width: 30px;
    height: 30px;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.icones-header img{
    margin-left: 10px;
}

/* Fim do header */


/* Inicio da main */

/* Inicio da section inicio */

.inicio {
    background-color: #3F4F8A;
    /* background-color: blueviolet; */
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
}

.texto{
    width: 30%;
}

.texto p{
    margin-top: 20px;
    margin-bottom: 50px;
}

.texto button{
    border:none;
    background-color: #080949;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
    border-radius: 6px;
    /* padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px; */
}

.imagens img{
    margin-right: 20px;
}

.imagem-maior {
    width: 300px;
    height: 410px;
}

.imagem-menor {
    width: 206px;
    height: 410px;
}

/* Fim da section inicio */


/* Inicio da section produtos */




/* Fim da section produtos */

/* Inicio da section categorias */


/* Fim da section categorias */

/* Fim da main */