*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Inicio do header */
header {
    background-color: #3F4F8A;
    height: 100px;
}

header img {
    width: 30px;
    height: 30px;
}

nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    justify-content: space-between;
    width: 400px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

.icones-header img{
    margin-left: 10px;
}

/* Fim do header */


/* Inicio da main */
main {
    background-color: #3F4F8A;
    color: white;
}

section {
    display: flex;
}

.imagem-maior {
    width: 300px;
    height: 438px;
}

.imagem-menor {
    width: 206px;
    height: 438px;
}

/* Fim da main */